.header {
    font-size: 30px;
    text-decoration: underline;
    font-family: 'arial narrow bold';
  }
  
  body {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fid.pngtree.com%2Ffree-backgrounds-photos%2Fpemandangan-pantai&psig=AOvVaw1rSgkKx7BP01Qo-g3xXvkx&ust=1687276386057000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCIDJoMTYz_8CFQAAAAAdAAAAABAE);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
